/* common */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #2C3639;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 6px;
  color: #000;
} 
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover, a:active {
  color: #444;
}
.inner {
  width: 1020px;
  margin: 0 auto;
  position: relative;
}
/* header */
header {
  background: #Fff;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
}
header > .inner {
  height: 58px;
}
header .inner .logo h1 {
  position: absolute;
  top: 7px;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .inner .logo h1::after {
  content: "";
  width: 0.5px;
  height: 20px;
  background-color: #212b3b;
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 160px;
  margin: auto;
}
header .inner .logo i {
  font-size: 30px;
  position: absolute;
  top: 15px;
  bottom: 0;
  right: 180px;
  margin: auto;
}

header .inner .logo-text {
  position: absolute;
  font-size: 18px;
  top: 10px;
  bottom: 0;
  left: 0;
  line-height: 1px;
  margin-left: 173px;
}

/* section - 1) menu */
.menu {
  background: #Fff;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  margin-top: 59px;
  position: fixed;
  z-index: 9;
}
.menu > .inner {
  height: 47px;
}
.menu .inner ul {
  position: absolute;
  top: 4px;
  bottom: 0;
  left: -50px;
  margin: auto;
  display: flex;
}
.menu .inner .title li {
  position: relative;
}
.menu .inner .title li a {
  padding: 6px 16px;
  display: block;
  color: #333;
}
.menu .inner .title li a:hover {
  color: #000;
  font-weight: 700;
}

/* header - menu - search */
.menu .inner .search {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 4px;
  bottom: 0;
  right: 180px;
  /* margin-top: 13px; */
}
.menu .search input {
  position: absolute;
  width: 34px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
.menu .search input:focus {
  width: 198px;
  border-color: #333;
}
.menu .search .material-icons {
  height: 22px;
  position: absolute;
  top: 4px;
  right: 5px;
  margin: auto;
  transition: .4s;
}
.menu .search.focused .material-icons {
  opacity: 0;
}

/* section - 2)visual */
.visual {
  display: flex;
  justify-content: center;
  background-color: #Fff;
  overflow: hidden;
  height: 432px;
  transition: height .4s;
  padding-top: 105px;
  width: 100%;
}
.visual.hide {
  height: 0;
}
.visual .swiper {
  width: calc(428px * 3);
  height: 436px;
  flex-shrink: 0;
}
.visual .swiper-slide {
  opacity: 0.7;
  transition: opacity 1s;
}
.visual .swiper-slide-active {
  opacity: 1;
}
.visual .swiper-slide img {
  width: 432px;
  height: 432px;
}
.visual .swiper-button-prev,
.visual .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  top: 320px;
  z-index: 1;
  color: #333;
}
.visual .swiper-button-prev {
  left: 50%;
  margin-left: -180px;
}
.visual .swiper-button-next {
  right: 50%;
  margin-right: -190px;
}
.visual .swiper-button-prev:hover,
.visual .swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.2s ease 0s;
  color: #fff;
}
.visual .swiper-button-prev:after,
.visual .swiper-button-next:after {
  display: none;
}

/* section - bookcore */
.book_core {
  display: flex;
  justify-content: center;
  background-color:#FFE6E6;
  overflow: hidden;
  position: relative;
  height: 450px;
  transition: height .4s;
}
.book_core.hide {
  padding: 40px 0;
  height: 0;
}
.book_core .swiper {
  width: 1020px;
  height: 432px;
  flex-shrink: 0;
}
.book_core .swiper h3 {
  padding-top: 5px;
  margin-bottom: 0;
}
.book_core .swiper-slide {
  width: calc(50*4+4px); /* 204px */
  padding: 20px 0;
}
.book_core .swiper-slide .item-ranking {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
  background-color: #FFF2F2;
  border-radius: 50% ;
  text-align: center;
  width: 20px;
  height: 16px;
  margin-bottom: 5px;
}
.book_core .swiper-slide .item-img {
  padding: 0 0 0 15px;
  width: 170px;
  height: 240px;
}
.book_core .swiper-slide .item-name {
  font-size: 14px;
  width: 170px;
  font-weight: 700;
  padding: 0 0 4px 15px;
  text-align: center;
}
.book_core .swiper-slide .item-author {
  font-size: 14px;
  padding: 0 0 4px 15px;
  text-align: center;
} 
.book_core .swiper-slide .item-publisher {
  font-size: 14px;
  padding: 0 0 4px 15px;
  text-align: center;
}
#item-template {
  display: none;
}
.book_core .swiper-button-prev,
.book_core .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  top: 200px;
  z-index: 1;
  color: #333;  
  opacity: .3;
}
.book_core .swiper-button-prev {
  left: -100px;
}
.book_core .swiper-button-next {
  right: -110px;
}
.book_core .swiper-button-prev:hover,
.book_core .swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.2s ease 0s;
  color: #fff;
}
.book_core .swiper-button-prev:after,
.book_core .swiper-button-next:after {
  display: none;
}

/* section - bestseller */
#seller-item {
  display: none;
}
.bestseller {
  background-color: #FAD4D4;
  height: 600px;
  width: 100%;
}
.bestseller h3 {
  width: 1020px;
  margin: 0 auto;
  position: relative;
  padding: 25px;
}
.bestseller .inner {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;;
  gap: 15px;
}
.bestseller .seller {
  height: 110px;
  position: relative;
}
.bestseller .seller:nth-child(1) {
  order: 1;
}
.bestseller .seller:nth-child(2) {
  order: 4;
}
.bestseller .seller:nth-child(3) {
  order: 7;
}
.bestseller .seller:nth-child(4) {
  order: 10;
}
.bestseller .seller:nth-child(5) {
  order: 2;
}
.bestseller .seller:nth-child(6) {
  order: 5;
}
.bestseller .seller:nth-child(7) {
  order: 8;
}
.bestseller .seller:nth-child(8) {
  order:11;
}
.bestseller .seller:nth-child(9) {
  order: 3;
}
.bestseller .seller:nth-child(10) {
  order: 6;
}
.bestseller .seller:nth-child(11) {
  order: 9;
}
.bestseller .seller:nth-child(12) {
  order: 12;
}
.bestseller .seller .item-ranking {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  left: -2px;
  top: 30px;
}
.bestseller .seller:first-child::after {
  content: "";
  width: 0.5px;
  height: 480px;
  background-color: #898B8A;
  position: absolute;
  left: 320px;
  margin: auto;
}
.bestseller .seller:nth-child(5)::after {
  content: "";
  width: 0.5px;
  height: 480px;
  background-color: #898B8A;
  position: absolute;
  left: 320px;
  margin: auto;
}
.bestseller .seller img {
  position: absolute;
  width: 60px;
  height: 90px;
  margin-left: 25px;
}
.bestseller .seller .detail {
  font-size: 14px;
  position: absolute;
  left: 100px;
  width: 200px;
}
.bestseller .seller .detail .item-name {
  font-weight: 700;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.bestseller .seller .detail .item-author {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* section - curation_one */
/* section - curation_two */
.curation_one {
  background-color: #FFF2F2;
  height: 864px;
  width: 100%;
}
.curation_one .curation,
.curation_two .curation {
  width: 1020px;
  height: 432px;
  margin: 0 auto;
}
.curation_one .curation .detail,
.curation_two .curation .detail {
  display: flex;
  width: 170px;
  padding: 0 15px 4px 15px;
}
.curation_one .curation .detail img,
.curation_two .curation .detail img {
  width: 170px;
  height: 240px;  
  padding: 0 15px 4px 15px;
}
.curation_one .curation .detail p,
.curation_two .curation .detail p {
  width: 170px;
  font-size: 15px;
  font-weight: 400;
  padding: 0 0 4px 15px;
}
.curation_one h3,
.curation_two h3 {
  margin-top: 0;
  padding: 25px 0;
}
.curation_two {
  background-color: #FFF2F2;
  margin-top: 0;
  height: 3456px;
  width: 100%;
}