/* common */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #656565;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
} 
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #656565;
}
a:hover, a:active {
  color: #000;
}
.inner {
  width: 1020px;
  margin: 0 auto;
  position: relative;
}
/* header */
header {
  background: #F6F5F0;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
}
header > .inner {
  height: 58px;
}
header .inner .logo h1 {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .inner .logo h1::after {
  content: "";
  width: 0.5px;
  height: 20px;
  background-color: #212b3b;
  position: absolute;
  top: -11px;
  bottom: 0;
  left: 140px;
  margin: auto;
}
header .inner .logo i {
  font-size: 30px;
  position: absolute;
  top: 15px;
  bottom: 0;
  right: 0;
  margin: auto;
}

header .inner .logo-text {
  position: absolute;
  font-size: 18px;
  top: 8px;
  bottom: 0;
  left: 0;
  line-height: 1px;
  margin-left: 160px;
}

/* section - 1) menu */
.menu {
  background: #F6F5F0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  margin-top: 59px;
  position: relative;
}
.menu > .inner {
  height: 47px;
}
.menu .inner ul {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: -50px;
  margin: auto;
  display: flex;
}
.menu .inner .title li {
  position: relative;
}
.menu .inner .title li a {
  padding: 6px 16px;
  display: block;
  color: #656565;
}

/* section - 2)visual */
.visual {
  display: flex;
  justify-content: center;
  background-color: #f6f5ef;
  overflow: hidden;
  position: relative;
  height: 432px;
  transition: height .4s;
}
.visual.hide {
  height: 0;
}
.visual .swiper {
  width: calc(428px * 3);
  height: 436px;
  flex-shrink: 0;
}
.visual .swiper-slide {
  position: relative;
  opacity: 0.5;
  transition: opacity 1s;
}
.visual .swiper-slide-active {
  opacity: 1;
}
.visual .swiper-slide img {
  width: 432px;
  height: 432px;
}
.visual .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.visual .swiper-button-prev,
.visual .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  top: 228px;
  z-index: 1;
  color: #333;
}
.visual .swiper-button-prev {
  left: 50%;
  margin-left: -180px;
}
.visual .swiper-button-next {
  right: 50%;
  margin-right: -180px;
}
.visual .swiper-button-prev:hover,
.visual .swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.2s ease 0s;
  color: #fff;
}
.visual .swiper-button-prev:after,
.visual .swiper-button-next:after {
  display: none;
}